In [10]:
import  numpy as np
import  pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
from sklearn.model_selection import train_test_split
from sklearn import feature_selection
from sklearn import model_selection
from sklearn.metrics import accuracy_score 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier

import warnings
warnings.filterwarnings('ignore')

# Récupération du dataframe nettoyé

In [12]:
train = pd.read_csv('train_propre.csv')
test = pd.read_csv('test_propre.csv')

In [13]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,1,1,0,4583,1508.0,128.0,360.0,1,1,0
1,0,1,0,1,1,3000,0.0,66.0,360.0,1,3,1
2,0,1,0,0,0,2583,2358.0,120.0,360.0,1,3,1
3,0,0,0,1,0,6000,0.0,141.0,360.0,1,3,1
4,0,1,2,1,1,5417,4196.0,267.0,360.0,1,3,1

In [14]:
test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0.0,1,0.0,1,0.0,5720,0,110.0,360.0,1.0,3
1,0.0,1,1.0,1,0.0,3076,1500,126.0,360.0,1.0,3
2,0.0,1,2.0,1,0.0,5000,1800,208.0,360.0,1.0,3
3,0.0,1,2.0,1,0.0,2340,2546,100.0,360.0,NaN,3
4,0.0,0,0.0,0,0.0,3276,0,78.0,360.0,1.0,3

# TRAIN/TEST Split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

NameError: name 'X' is not defined

In [ ]:
plt.figure(figsize=(8,5), dpi=100)
plt.title("Distribution des données")
plt.hist(y, label="jeu total")
plt.hist(y_train, label="jeu d'apprentissage")
plt.hist(y_test, label="jeu de test")
plt.xlabel("Valeur du logement")
plt.ylabel("Nombre d'exemples")
plt.legend()
plt.show()

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
X_test.shape

In [ ]:
y_test.shape

* Features Scaling 

 transformer les variables continues en utilsant MinMaxScaler
 
 https://towardsdatascience.com/what-is-feature-scaling-why-is-it-important-in-machine-learning-2854ae877048
 
 https://medium.com/codex/feature-scaling-in-machine-learning-e86b360d1c31

In [ ]:
scaler = MinMaxScaler()
#TBC
scaled = scaler.fit(X_train)

In [ ]:
scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

# Training model choice

In [ ]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn.cluster import KMeans
from sklearn.ensemble import AdaBoostRegressor

from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import f1_score

def accuracy(model):
    model.fit(X_train, y_train)
    predict = model.predict(X_test)
    return y_test, predict

model1 = XGBRegressor()
model2 = RandomForestRegressor()
model3 = SVC()
model4 = LogisticRegression()
model5 = KNeighborsRegressor()
model6 = SGDRegressor()
model7 = DecisionTreeRegressor()
model8 = GaussianNB()
model10= AdaBoostRegressor()
#model11=AdaBoostClassifier()
    
models=[model1,model2,model5,model6,model7,model10]
i=0

for model in models:
    i+=1
    y_test, predict=accuracy(model)
    print("Model ", i,":", model)
    print('mean_squared_error score:',mean_squared_error(y_test, predict))
    #print('F1 score:',f1_score(y_test, predict))
    
model2.fit(X_train, y_train)
model_retenu=model2.predict(X_test)
print('\nmean_squared_error score final:',mean_squared_error(y_test, model2.predict(X_test)))

# Pickle

In [ ]:
import pickle
 
# Save the trained model as a pickle string.
with open('model2.pkl', 'wb') as model_file:
    pickle.dump(model_retenu, model_file)

In [ ]:
X_test

In [ ]:
test=[[2,2,2,2,2,2,2]]
model_retenu=model2.predict(test)
model_retenu