## Insertion des données dans la BDD

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

### Méthode 1: insertion des données Sans Pandas

In [ ]:
conn = create_engine("mysql+mysqlconnector://root:"+'root'+"@localhost:3306/bdd", echo=True)
conn.connect()

In [ ]:
# création de la table "category" 
sql_query = ''' DROP TABLE IF EXISTS category'''
conn.execute(sql_query)
sql_query = '''CREATE TABLE category(
               id_category  INT NOT NULL,
               nom_category  VARCHAR(255),
               PRIMARY KEY (id_category)
               )
'''
conn.execute(sql_query)

#insertion des données"
cols = ",".join([str(i) for i in df_category.columns.tolist()]) # la liste des colonnes
for i,row in df_category.iterrows():
    sql_query = "INSERT INTO category (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    conn.execute(sql_query, tuple(row))

In [ ]:
# création de la table "produit" 
sql_query = ''' DROP TABLE IF EXISTS produit'''
conn.execute(sql_query)
sql_query = '''CREATE TABLE produit(
   id_produit  INT NOT NULL,
   nom_produit  VARCHAR(30),
   prix  INT,
   category_id INT,
     
   PRIMARY KEY (id_produit),
   FOREIGN KEY (category_id) REFERENCES category (id_category),
   )
'''
conn.execute(sql_query)

cols = ",".join([str(i) for i in df_produit.columns.tolist()])
for i,row in df_produit.iterrows():
    sql_query = "INSERT INTO bien (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    conn.execute(sql_query, tuple(row))

### Méthode 2: insertion des données avec Pandas

In [ ]:
#Avec une BDD MySQL
conn = create_engine("mysql+mysqlconnector://root:"+'root'+"@localhost:3306/bdd",echo=True)
conn.connect()

In [ ]:
#avec une BDD Postgesql
conn = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/bdd')

In [ ]:
df_category.to_sql(con=conn, name='category', if_exists='replace', index=False)

with conn.connect() as con:
    con.execute('ALTER TABLE bdd.public.category ADD PRIMARY KEY (id_category);')

In [ ]:
df_produit.to_sql(con=conn, name='produit', if_exists='replace', index=False)

with conn.connect() as con:
    con.execute('ALTER TABLE bien ADD PRIMARY KEY (id_produit);')
    con.execute('ALTER TABLE bien ADD FOREIGN KEY (category_id) REFERENCES category (id_category);')